<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Tyck till test Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>ldapContextConfigLocation</param-name>
		<param-value>classpath:ldapContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>ThrowError</servlet-name>
		<servlet-class>se.vgr.tycktill.servlet.TyckTillTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThrowError</servlet-name>
		<url-pattern>/ThrowError.do</url-pattern>
	</servlet-mapping>
	
	<filter>
  	<filter-name>ErrorHandlingFilter</filter-name>
  	<filter-class>se.vgr.javg.web.filter.WebErrorHandlingFilter</filter-class>
  	<init-param>
  		<param-name>TyckTillErrorFormURL</param-name>
  		<param-value>http://localhost:8082/tyck-till-core-bc-module-web-1.0-SNAPSHOT/xforms-jsp/index.jsp</param-value>
  	</init-param>
    <init-param>
        <param-name>TyckTillReportMethod</param-name>
        <param-value>USD</param-value> 
    </init-param>
    <init-param>
        <param-name>TyckTillReportEmail</param-name>
        <param-value>culberto@hotmail.com</param-value> 
    </init-param>
    <init-param>
        <param-name>ldapPropertiesFileName</param-name>
        <param-value>/WEB-INF/classes/ldap.properties</param-value> 
    </init-param>
  </filter>
  <filter-mapping>
  	<filter-name>ErrorHandlingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  

	<!--
		This is setup by the application that use "tyck till" <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>

		</listener>
	-->
</web-app>
 