/**
 * Copyright 2010 Västra Götalandsregionen
 *
 *   This library is free software; you can redistribute it and/or modify
 *   it under the terms of version 2.1 of the GNU Lesser General Public
 *   License as published by the Free Software Foundation.
 *
 *   This library is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Lesser General Public License for more details.
 *
 *   You should have received a copy of the GNU Lesser General Public
 *   License along with this library; if not, write to the
 *   Free Software Foundation, Inc., 59 Temple Place, Suite 330,
 *   Boston, MA 02111-1307  USA
 *
 */

@CHARSET "UTF-8";

#all_html {
    height: 98%;
    padding-left: 10px;
    padding-right: 10px;
}

#all_body {
    height: 98%;
    font: 83% Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
    margin-left: 0.5em
}

#custom-doc {
    margin: auto;
    text-align: left; /* leave unchanged */
    width: 60em; /* non-IE */
    width: 58.50em; /* IE */
    min-width: 600px; /* optional but recommended */
}

/* Clearfix style clearing */
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

#defaultErrorMessageDiv {
    width: 54em;
    border: 0.1em solid gray;
    padding: 0.2em;
    color: gray;
}

.form-head,
.subject,
.message-wrap {
    border-bottom: 1px solid #ccc;
    margin: 15px 0 0 0;
}

.title {
    -x-system-font: none;
    color: #444;
    font-size: 1.6em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 8px;
    margin-top: -5px;
    width: 430px;
}

.leadtext {
    -x-system-font: none;
    color: #444;
    font-weight: bold;
    line-height: 1.4em;
    padding-bottom: 15px;
    margin-top: 6px;
    width: 485px;
}

.message {
    margin-top: 10px;
}

input.btn {
    font-size: 1.2em;
}

div.addrow {
    padding-top: 0.8em;
    padding-bottom: 1.2em;
}

div.header {
    margin-bottom: 0.4em;
}

div {
    /*clear: both;*/
}

div.subselect {
    padding-left: 2.0em;
}

.subselect span {
    display: block;
    margin: 3px 0;
}

.contact-info span {
    display: inline;
    margin: 0;
}

label {
    color: #444;
    font-weight: bold;
}

.checkbox {
    vertical-align: middle;
}

.msglabel {
    vertical-align: top;
}

.form-item-wrap {
    margin: 7px 0;
}

.inline {
    float: left;
    padding-top: 3px;
    padding-right: 4px;
    width: 180px;
}

.name {
    font-weight: bold;
    width: 150px;
    padding: 5px;
    margin-top: 3px;
    float: left;
    clear: both;
}

.value {
    float: left;
    padding: 5px;
}

.contactMethods {
    padding-left: 30px;
}

.contactMethod {
    padding-left: 40px;
}

.subCategory {
    width: 170px;
    float: left;
}

.error {
    padding: 0px;
    margin-top: 0px;
    color: red;
}

.errors {
    color: #FF0000;
    vertical-align: middle;
}

.show {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hr_line {
    color: #EEEEEE;
}

.hide {
    display: none;
}

.action {
    padding-left: 10px;
}

.defaultBackend {
    min-width: 100px;
}

.backendUsd {
    background-image: url(../../resources/style/images/usd.png);
    background-position: 0 50%;
    background-origin: content;
    background-repeat: no-repeat;
}

.backendPivotal {
    background-image: url(../../resources/style/images/pivotal.png);
    background-position: 0 50%;
    background-origin: content;
    background-repeat: no-repeat;
}

.backendMbox {
    background-image: url(../../resources/style/images/mbox.png);
    background-position: 0 50%;
    background-origin: content;
    background-repeat: no-repeat;
}

.backendInput {
    margin-left: 20px;
}

.backend {
    margin-left: 20px;
}

.checked {
    background-image: url(../../resources/style/images/checked.png);
    background-position: 50% 35%;
    background-origin: content;
    background-repeat: no-repeat;
}

.unchecked {
    background-image: url(../../resources/style/images/checkbox.png);
    background-position: 50% 35%;
    background-origin: content;
    background-repeat: no-repeat;
}

.subCategory {
    white-space: nowrap;
}

.defaultRubrik {
    width: 450px;
}

.defaultRubrikActive {
    color: #a1a1a1;
    font-style: italic;
}

.defaultMessage {
    width: 454px;
}

.defaultMessageActive {
    color: #a1a1a1;
    font-style: italic;
}

.instruction {

}

.btn-wrap {
    margin: 20px 14px;
}

.btn-wrap input[type="submit"] {
    border-radius: 12px;
    border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    text-shadow: 1px 1px #FFF;
    background: scroll 0 0 #EEE;
    overflow: visible;
    padding: 4px 8px;
    width: auto;
    margin: 0;
    float: left;
}

.logo {
    float: right;
}
